.footer {
  background: #0f0f12;
  color: #ccc;
  padding: 80px 100px 30px 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  border-bottom: 1px solid #222;
  padding-bottom: 40px;
  align-items: center;
}

.footer-col {
  max-width: 250px;
}
.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.footer-logo-img {
  width: 150px;  
  height: auto;
  display: block;
  margin: 0;   
}

.footer-desc {
  font-size: 14px;
  line-height: 1.6;
  color: #aaa;
}

.footer-col h4 {
  color: white;
  margin-bottom: 15px;
  font-size: 16px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #aaa;
  transition: 0.3s;
}

.footer-col ul li:hover {
  color: white;
}

.footer-small {
  font-size: 14px;
  margin-bottom: 15px;
  color: #aaa;
}

.footer-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #7b2ff7, #f107a3);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.footer-btn:hover {
  background: linear-gradient(90deg, #5a1fd8, #c00684);
}

.footer-bottom {
  text-align: center;
  margin-top: 25px;
  font-size: 13px;
  color: #777;
}
